@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --white: 0, 0%, 100%;
  --light-pink: 275, 100%, 97%;
  --grayish-purple: 292, 16%, 49%;
  --dark-purple: 292, 42%, 14%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
}

.top-bg-container {
  height: 55%;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-bg-container {
  height: 70%;
  background: hsl(var(--light-pink));
}

.content-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  padding: 5rem 4rem 2rem 4rem;
  border-radius: 2rem;
  background: hsl(var(--white));
  overflow: scroll;
  max-width: 600px;
}

.content-container .header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.content-container .header h1 {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: hsl(var(--dark-purple), 0.9);
}

.content-container .accordion-container {
  border-bottom: 1px solid hsl(var(--grayish-purple), 0.1);
}

.content-container .accordion-container:last-child {
  border-bottom: none;
}

.content-container .accordion-container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content-container .accordion-container .title h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(var(--dark-purple), 0.9);
  margin-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.content-container .accordion-container .title h3:hover {
  color: hsl(280, 60%, 48%);
}

.content-container .accordion-container p {
  color: hsl(var(--grayish-purple), 0.8);
  line-height: 2.3rem;
  text-align: left;
  width: 100%;
}

.content-container .title button {
  border: none;
  background: transparent;
}

.content-container .title button .icon {
  display: flex;
  background-image: url(./assets/images/icon-plus.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
}

.content-container .title button .icon.open {
  background-image: url(./assets/images/icon-minus.svg);
}

.content-container p {
  height: 0;
  overflow: hidden;
}

.content-container p.open {
  height: 100%;
  padding-bottom: 2.5rem;
}

.attribution {
  position: fixed;
  width: 100%;
  height: 2%;
  font-size: 11px;
  text-align: center;
  background: hsl(var(--light-pink));
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 992px) {
  .content-container {
    width: 90%;
  }
}
