@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --primary-gray-hsl: 0, 0%, 67%;
  --primary-orange-hsl: 39, 100%, 56%;
  --primary-green-hsl: 166, 100%, 37%;
  --primary-blue-hsl: 234, 85%, 45%;

  --slate-blue-hsl: 252, 100%, 67%;
  --royal-blue-hsl: 241, 81%, 54%;
  --violet-blue-hsl: 256, 72%, 46%;
  --persian-blue-hsl: 241, 72%, 46%;
  --gradients-background: linear-gradient(
    hsl(var(--slate-blue-hsl)),
    hsl(var(--royal-blue-hsl))
  );
  --gradients-circle: linear-gradient(
    hsl(var(--violet-blue-hsl)),
    hsl(var(--persian-blue-hsl)),
    0
  );

  --neutral-white-hsl: 0, 0%, 100%;
  --neutral-lavender-hsl: 241, 100%, 89%;
  --neutral-blue-hsl: 221, 100%, 96%;
  --neutral-gray-hsl: 224, 30%, 27%;

  --fs-xs: 1.125rem;
  --fs-s: 1.25rem;
  --fs-m: 1.5rem;
  --fs-l: 1.75rem;
  --fs-xl: 2rem;
  --fs-xxl: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--fs-xs);
  background: hsl(var(--neutral-gray-hsl), 0.1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
