@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --primary-red-hsl: 0, 100%, 67%;
  --primary-orange-hsl: 39, 100%, 56%;
  --primary-green-hsl: 166, 100%, 37%;
  --primary-blue-hsl: 234, 85%, 45%;

  --slate-blue-hsl: 252, 100%, 67%;
  --royal-blue-hsl: 241, 81%, 54%;
  --violet-blue-hsl: 256, 72%, 46%;
  --persian-blue-hsl: 241, 72%, 46%;
  --gradients-background: linear-gradient(
    hsl(var(--slate-blue-hsl)),
    hsl(var(--royal-blue-hsl))
  );
  --gradients-circle: linear-gradient(
    hsl(var(--violet-blue-hsl), 0.5),
    hsl(var(--persian-blue-hsl), 0)
  );

  --neutral-white-hsl: 0, 0%, 100%;
  --neutral-lavender-hsl: 241, 100%, 89%;
  --neutral-blue-hsl: 221, 100%, 96%;
  --neutral-gray-hsl: 224, 30%, 27%;

  --fs-s: 1.125rem;
  --fs-m: 1.5rem;
  --fs-l: 1.75rem;
  --fs-xl: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--fs-s);
  background: hsl(var(--neutral-white-hsl), 0.1);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 46rem;
  margin: 14% auto;
}

.result-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradients-background);
  color: hsl(var(--neutral-white-hsl));
  padding: 2.5rem;
  border-radius: 2rem;
  gap: 2rem;
}

.result-title {
  font-size: var(--fs-m);
  font-weight: 700;
  color: hsl(var(--neutral-white-hsl), 0.7);
}

.result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  background: var(--gradients-circle);
  border-radius: 50%;
}

.score {
  font-size: var(--fs-xl);
  font-weight: 800;
  color: hsl(var(--neutral-white-hsl));
}

.total {
  color: hsl(var(--neutral-white-hsl), 0.3);
}

.result-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result-description span {
  color: hsl(var(--neutral-white-hsl));
  font-size: var(--fs-l);
  font-weight: 800;
}

.result-description p {
  color: hsl(var(--neutral-white-hsl), 0.5);
  text-align: center;
  padding: 0 1rem;
}

.summary-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: hsl(var(--neutral-white-hsl));
  padding: 2.5rem;
  border-radius: 2rem;
  gap: 2rem;
  box-shadow: 1rem 2rem 2rem hsl(var(--neutral-blue-hsl));
}

.summary-title {
  font-size: var(--fs-m);
  font-weight: 700;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.summary-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary-detail:nth-child(1) {
  background: hsl(var(--primary-red-hsl), 0.1);
}

.summary-detail:nth-child(1) h3 {
  color: hsl(var(--primary-red-hsl));
}

.summary-detail:nth-child(2) {
  background: hsl(var(--primary-orange-hsl), 0.1);
}

.summary-detail:nth-child(2) h3 {
  color: hsl(var(--primary-orange-hsl));
}

.summary-detail:nth-child(3) {
  background: hsl(var(--primary-green-hsl), 0.1);
}

.summary-detail:nth-child(3) h3 {
  color: hsl(var(--primary-green-hsl));
}

.summary-detail:nth-child(4) {
  background: hsl(var(--primary-blue-hsl), 0.1);
}

.summary-detail:nth-child(4) h3 {
  color: hsl(var(--primary-blue-hsl));
}

.summary-detail-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.summary-detail-score {
  font-weight: 800;
  color: hsl(var(--neutral-gray-hsl), 0.5);
}

.summary-detail-score span {
  color: hsl(var(--neutral-gray-hsl));
}

.btn {
  width: 100%;
  color: hsl(var(--neutral-white-hsl));
  background: hsl(var(--neutral-gray-hsl));
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: var(--fs-s);
}

.btn:hover {
  background: var(--gradients-background);
}

.attribution {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0.5rem;
  font-size: 0.7rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 605px) {
  .container {
    height: 100vh;
    flex-direction: column;
    margin-top: unset;
    font-size: 1rem;
  }

  .result-container {
    border-radius: 0 0 2rem 2rem;
    justify-content: space-evenly;
    padding: 0 0 1rem 0;
    gap: 0;
  }

  .result-score {
    width: 9rem;
    height: 9rem;
  }

  .score {
    font-size: 3.8rem;
    font-weight: 700;
  }

  .result-description span {
    color: hsl(var(--neutral-white-hsl));
    font-size: var(--fs-m);
    font-weight: 700;
  }

  .summary-container {
    padding: 1.6rem;
    gap: 1.6rem;
  }

  .summary-title,
  .result-title {
    font-weight: 500;
    font-size: var(--fs-s);
  }

  .summary {
    gap: 0.8rem;
  }

  .summary-detail {
    padding: 0.8rem;
  }

  .btn {
    font-size: 1rem;
  }

  .attribution {
    margin: 0;
    padding: 0;
  }
}
