/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--off-white);
}
/* BASE End */

.container{
    max-width: 1100px;
    margin: 0 auto;
    color: var(--very-dark-blue);
}

/* NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav ul li a:hover {
    color: var(--soft-red);
}
/* NAV End */

/* MAIN */
main {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    /* flex-wrap: wrap; */
}

main section {
    display: flex;
    flex-direction: column;
}

main section img {
    width: 100%;
}

main section .content {
    display: flex;
    padding: 25px 10px;
    gap: 100px;
}

main section .content .content-left {
    flex: 1;
    line-height: 1;
}

main section .content .content-left h1 {
    font-size: 4rem;
}

main section .content .content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.6;
}

main section .content .content-right p{
    color: var(--dark-grayish-blue); 
}

main section .content .content-right a{
    max-width: 180px;
    text-align: center;
    padding: 10px;
    background: var(--very-dark-blue);
    color: var(--off-white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main section .content .content-right a:hover {
    background: var(--soft-red);
}

main aside {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    background: var(--very-dark-blue);
    color: var(--grayish-blue);
}

aside h1 {
    margin-bottom: 30px;
    color: var(--soft-orange);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
}

aside article h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--off-white);
}

hr {
    margin: 30px 0;
    /* background: var(--dark-grayish-blue); */
}
/* MAIN end */

.card {
    display: flex;
    gap: 40px;
    margin-top: 70px;
    width: 100%;
}

.card-item {
    display: flex;
    gap: 25px;
}

.card-item .card-item-left img {
    height: 130px;
    width: 100px;
}

.card-item .card-item-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-item .card-item-right h1 {
    color: var(--grayish-blue);
}

.card-item .card-item-right p {
    line-height: 1.6;
    color: var(--dark-grayish-blue);
}

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
/* FOOTER End */