/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--off-white);
}
/* BASE End */

.container {
    max-width: 1100px;
    margin: 0 auto;
    color: var(--very-dark-blue);
}

/* NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

nav .navbar .nav-links {
    display: flex;
    gap: 40px;
    list-style: none;

}

nav .navbar .nav-links li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav .navbar .nav-links li a:hover {
    color: var(--soft-red);
}

nav .toggle-button {
    display: none;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    width: 50px;
    height: 35px;
}

nav .toggle-button svg:first-child {
    display: flex;
}

nav .toggle-button svg:last-child {
    display: none;
}

/* nav .toggle-button .icon-bar {
    height: 3px;
    width: 100%;
    background: var(--very-dark-blue);
    border-radius: 5px;
    transform-origin: right;
    transition: all 1s ease;
} */
/* NAV End */

/* MAIN */
main {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

main section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: space-between; */
}

main section img {
    width: 100%;
}

main section .content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

main section .content .content-left {
    flex: 1;
    line-height: 1;
}

main section .content .content-left h1 {
    font-size: 3.8rem;
    font-weight: 800;
    margin: 0 0 10px;
}

main section .content .content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.6;
}

main section .content .content-right p{
    color: var(--dark-grayish-blue); 
}

main section .content .content-right a{
    max-width: 180px;
    text-align: center;
    padding: 10px;
    background: var(--soft-red);
    color: var(--off-white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main section .content .content-right a:hover {
    background: var(--very-dark-blue);
}

main aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--very-dark-blue);
    color: var(--grayish-blue);
}

aside h1 {
    color: var(--soft-orange);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 25px 20px 0;
    padding: 5px 0;;
}

aside .aside-card {
    margin: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--grayish-blue);
}

aside .aside-card:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}

aside .aside-card h2 {
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

aside .aside-card h2:hover {
    color: var(--soft-orange);
}

aside .aside-card p {
    color: var(--grayish-blue);
    line-height: 1.6;
    letter-spacing: 0.5px;
}
/* MAIN end */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 70px;
    width: 100%;
}

.card {
    flex: 1;
    display: flex;
    gap: 20px;
}

.card .card-left img {
    max-height: 130px;
    width: 100px;
}

.card .card-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .card-right h1 {
    color: var(--grayish-blue);
}

.card .card-right h2 {
    color: var(--very-dark-blue);
    font-size: 1.2rem;
    font-weight: 900;
}

.card .card-right p {
    line-height: 1.6;
    color: var(--dark-grayish-blue);
    padding-right: 15px;
}

/* FOOTER */
.attribution {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 11px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
/* FOOTER End */

@media screen and (max-width:768px) {
    nav {
        margin-top: 20px;
    }

    nav .toggle-button {
        display: flex;
        padding: 0 10px 0 0;
        z-index: 1;
    }

    nav .navbar {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        padding-top: 150px;
        background: var(--off-white);
        width: 0px;
        overflow: hidden;
        transition: all 1s ease;
    }

    nav .navbar.active {
        width: 250px;
        border-left: 1px solid #eee;
    }

    nav .navbar .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    nav .navbar .nav-links li {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 0 0 10px;
        white-space: nowrap;
    }

    nav .navbar .nav-links li a {
        padding: 10px 20px;
        font-size: 20px;
    }

    nav .toggle-button.opened svg:first-child {
        display: none;
    }

    nav .toggle-button.opened svg:last-child {
        display: flex;
    }

    /* nav .toggle-button.opened .icon-bar:first-child {
        transform: rotate(-50deg);
    }
    nav .toggle-button.opened .icon-bar:nth-child(2) {
        opacity: 0;
    }
    nav .toggle-button.opened .icon-bar:last-child {
        transform: rotate(50deg);
    } */

    .container.dark{
        /* background: var(--grayish-blue); */
        background: rgba(var(--grayish-blue), 0.25);
    }
}