@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --pale-blue:hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --footer-height: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 800px;
    margin: auto;
    background: var(--very-dark-blue);
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.card-container {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
    height: 200px;
    background-color: var(--dark-blue);
    border-radius: 10px 100px 10px 10px;
    padding: 35px;
    gap: 30px;
}

.card-bottom {
    display: flex;
    gap: 18px;
}

.card-bottom>img {
    background-color: var(--very-dark-blue);
    padding: 12px;
    border-radius: 8px;
}

.progress-bar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 540px;
    height: 155px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 20px 35px;
    gap: 10px;
    position: relative;
}

.tooltip {
    position: absolute;
    top: -50px;
    right: 40px;
    background-color: #fff;
    width: 179px;
    height: 75px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0px 10px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: .8rem;
    color: var(--grayish-blue);
    text-transform: uppercase;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid #fff;
} 

.progress-bar {
    display: flex;
    width: 100%;
    height: 14px;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
}

.progress-bar-info {
    color: var(--pale-blue);
    font-weight: 400;
    padding-bottom: 10px;
}

.progress-bar-info span .bold{
    font-weight: 700;
}
  
.progress-bar-process {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 14px;
    width: 70%;
    background: var(--gradient);
    border-radius: 10px;
}

.progress-bar-process-ball {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: var(--pale-blue);
    margin-right: 1px;
}
  
.progress-bar-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--pale-blue);
}

.attribution {
    text-align: center;
    font-size: 12px;
    color: var(--grayish-blue);
    height: var(--footer-height);
}

.attribution a {
    color: var(--grayish-blue);
    font-weight: 700;
}

@media(max-width: 1200px) {
    .container {
        width: 100%;
        height: calc(100vh - var(--footer-height));
        margin: 0;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tooltip {
        top: 85%;
        right: 35%;
        border-radius: 10px 10px 10px 10px;
    }

    .tooltip::after {
        visibility: hidden;
    } 
}

@media(max-width: 768px) {
    .container {
        width: 100%;
        height: calc(100vh - var(--footer-height));
        margin: 0;
    }

    .card-wrapper {
        background-image: url("./images/bg-mobile.png");
        background-size: cover;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .progress-bar-card {
        width: 100%;
        min-width: unset;
    }

    .tooltip {
        top: 85%;
        right: 27%;
        border-radius: 10px 10px 10px 10px;
    }

    .tooltip::after {
        visibility: hidden;
    } 
}